body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

header{
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-weight: 100; /*esto sirve para...*/
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    text-shadow: 0 0 5px black;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 25px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    width: 16%;
    display: inline-block;
    /* background-color: red; */
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px 0;
    
}

nav ul li a:hover{
    background-color: #4c76a5;
}
nav ul li a.activo{
    background-color: #4c76a5;
}
footer{
    background-color: #ccc;
    padding: 25px 0;
    text-align: center;
    clear: both;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}
h2{
    color: #2e64a1;
    font-weight: 400;
}
/* inicio home */
.bienvenidos{
    width: 75%;
    /* background-color: yellow; */
    float: left;
    padding-right: 4px;
    box-sizing: border-box;
}
.testimonios{
    width: 25%;
    /* background-color: orange; */
    float: right;
}
.bienvenidos p{
    font-size: 22px;
    line-height: 27px;
}
.testimonio{
    background-color: rgb(226,223,233);
    padding: 12px;
}
.testimonio .cita{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    display: block;
}
.testimonio .autor{
    font-size: 11px;
    text-align: center;
    display: block;
    
}

/* fin home */

/* inicio nosotros */
.historia p{
    font-size: 14px;
}

.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    /* display: inline-block; */
    float: left;
    margin-bottom: 20px;
    margin-left: 2.5% ;


}
.persona img{
    max-width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(87,86,86);
    margin-bottom: 10px;
    
}
.persona h5,
.persona h6{
    margin: 0;
    color: #2e64a1;
    font-weight: normal;
}
.persona h6{
    font-style: italic;
    font-weight: 700;
}
.persona p{
    font size: 12px;

}

/* fin nosotros */
/* comienzo galeria 2 */
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: inline-flex; */
}
.galeria .foto{
    border: 1px solid #ccc;
    padding: 5px;
    width: 18%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.galeria .foto img{
    width:100%;
    display: block;
}

/* fin galeria 2 */